body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: #111;
}

#game {
  width: 400px;
  height: 600px;
  background: url("./images/game.jpg") center / cover no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

#topbar {
  width: 90%;
  height: 40px;
  background: rgba(255,255,255,0.85);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 5%;
  border-radius: 20px;
  font-weight: bold;
}

#player {
  width: 70px;
  height: 70px;
  background: url("./images/player.png") center / contain no-repeat;

  position: absolute;
  bottom: 30px;
  left: 185px;

}

.obstacle {
  position: absolute;

  width: 60px;
  height: 80px;

  background-image: url("./images/obstacle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


}

